bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
.idea/
../CleanArchTemplate.sln.DotSettings.user
**/appsettings.json
**/appsettings.Development.json
**/appsettings.Production.json

/global.json


**/BuildHost-net472/
**/BuildHost-netcore/